*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
}

.game{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

canvas{
    border-radius: 10px;
}

.game div{
    position: relative;
    margin: 10px;
}

.banner{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    z-index: 2;
    width: 35%;
    height: 185px;
    left: calc(50% - 17.5%);
    top: calc(50% - 82.5px);
    border-radius: 10px;
    border: 2px solid red;
    background-color: #d8f0f0;
}

.banner h1{
    position: absolute;
    top: 2px;
    left: 2px;
}

.banner button{
    padding: 5px;
    background-color:darkslateblue;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font-size: 16pt;
    font-weight: bold;
    cursor: pointer;
}

.banner span{
    font-family: 'Black Ops One';
    font-size: 26pt;
    color: yellow;
    filter: drop-shadow(1px 1px 2px red);
}

.player-place{
    font-family: 'Black Ops One';
    font-size: 18pt;
    top: 10px;
    right: 145px;
    position: absolute;
    color: white;
}

.lap-count{
    font-family: 'Black Ops One';
    font-size: 18pt;
    top: 10px;
    right: 20px;
    position: absolute;
    color: white;
}

.time{
    font-family: 'Black Ops One';
    font-size: 18pt;
    top: 10px;
    left: 10px;
    position: absolute;
}