*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #252525;
}

.game{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

canvas{
    border-radius: 10px;
}

.game div{
    position: relative;
    margin: 10px;
}

.banner{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    z-index: 2;
    width: 35%;
    height: 185px;
    left: calc(50% - 17.5%);
    top: calc(50% - 82.5px);
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    background-color: #252525;
}

.banner h1{
    position: absolute;
    top: 2px;
    left: 6px;
    color: #D9D9D9;
    font-family: 'Black Ops One';
}

.banner button{
    padding: 5px 0;
    width: 85%;
    border-radius: 10px;
    background: #D9D9D9;
    color: #252525;
    border: none;
    outline: none;
    text-align: center;
    font-family: 'Formula 1 regular';
    font-size: 11pt;
    cursor: pointer;
}

.banner span{
    font-family: 'Black Ops One';
    font-size: 26pt;
    color: yellow;
    filter: drop-shadow(1px 1px 2px red);
}

.banner h2{
    font-family: 'Formula 1 regular';
    font-size: 14pt;
    color: #D9D9D9;
}

.banner h3{
    font-family: 'Formula 1 regular';
    font-size: 11pt;
    color: #D9D9D9;
}

.player-place{
    font-family: 'Black Ops One';
    font-size: 18pt;
    top: 10px;
    right: 145px;
    position: absolute;
    color: white;
}

.lap-count{
    font-family: 'Black Ops One';
    font-size: 18pt;
    top: 10px;
    right: 20px;
    position: absolute;
    color: white;
}

.time{
    font-family: 'Black Ops One';
    font-size: 18pt;
    top: 10px;
    left: 10px;
    position: absolute;
}

footer{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    padding: 5px 0;
    color: #D9D9D9;
    font-family: 'Formula 1 regular';
}