*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #252525;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

header h1{
    color: #D9D9D9;
    font-family: 'Black Ops One';
    font-size: 32pt;
    filter: drop-shadow(1px 1px 2px red);
}

header .login{
    display: flex;
    background-color: #D9D9D9;
    padding: 6px 12px;
    border-radius: 10px;
}

header .login a{
    color: #000;
    font-family: 'Formula 1 regular';
    font-size: 16pt;
    text-decoration: none;
}

main{
    padding: 12px;
    color: #D9D9D9;
    font-family: 'Formula 1 regular';
}

footer{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    padding: 5px 0;
    color: #D9D9D9;
    font-family: 'Formula 1 regular';
}