body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-track{
    background-color: #252525;
}

body::-webkit-scrollbar-thumb{
    background-color: #d9d9d9;
    border-radius: 20px;
    border: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    width: 90%;
}

table th{
    text-align: left;
    padding: 4px;
    font-family: 'Formula 1 bold';
    color: #d9d9d9;
}

table tr:nth-child(odd){
    background-color: #1e1e1e;
}

table td{
    padding: 4px;
    font-family: 'Formula 1 regular';
    color: #d9d9d9;
}

.user{
    display: flex;
    align-items: center;
}

.img_perfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}